
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: auto;
    background-color: #475E67;
}

.container{
    padding: 8px;
    margin-top: 3em;
    border: 8px solid #F0E0E0;
    border-radius: 6px;
    color: #F0E0E0;
}

.total-container{
    width: 100%;
}

.value{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.btn{
    width: 100px;
    height: 40px;
    font-size: 28px;
    font-weight: 600;
    color: #606060;
    cursor: pointer;
}

.dice-btn{
    width: 280px;
    height: 50px;
    margin: .5em;
    font-size: 28px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    color: #606060;
    background-color: #A0A0C0;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
}

.dice-btn:hover{
    background-color: #E0E0E0;
}

.dice-btn:active{
    background-color: #A0A080;
}


.dice-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em;
    border: 8px solid #E0F0F0;
    border-radius: 6px;
}

.dice{
    margin: .5em;

}

.dice-main{
    margin: auto;
}
