
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100hw;
    background-color: #404040;
}

.banner{
    width: 90%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}


.container{
    width: 90%;
    margin: auto;
    margin-top: 1%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    max-width: 24em;
    min-width: 10em;
    min-height: 15em;
    margin: .25em;
    padding: 1em;
    background-color: #A0A0A0;
    border: 5px solid #A0C0A0;
    border-radius: 6px;
    color: #202020;
}

.box-x{
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}



.addbtn{
    width: 10em;
    height: 3em;
    font-weight: 900;
    padding: .25em;
    text-align: center;
    color: #FFF;
    background-color: #A0A0A0;
    border: 5px solid #A0C0A0;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s;
}

.addbtn:hover{
    background-color: #a0a0a05d;
}


.new-memo{
    width: 25em;
    height: 25em;
    padding: 1em;
    background-color: #A0A0A0;
    border: 6px solid #A0C0A0;
    border-radius: 6px;
}


.new-memo-top{
    width: 100%;
    text-align: center;
}

.new-memo-top .btn{
    width: 45%;
    height: 3em;
    margin: .25em;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #A0A0A0;
    border: 3px solid #A0C0A0;
    border-radius: 6px;
    color: #fff;
    transition: all 1s;
}

.btn:hover{
    background-color: #80a0a0cb;
}


.new-memo-down{
    width: 100%;
    height: 85%;
    margin-top: .1em;
}

.big-textarea{
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 1.25em;
    border: 4px solid #a0a0a04d;
    border-radius: 6px;
    background-color: #A0A0A0;
}

textarea:focus {
    outline: none;      /* 取消預設外框 */
    box-shadow: none;   /* 若瀏覽器有陰影也一併清除 */
}
  

